/* General Style CSS */

body {
    font-family: "Nunito", sans-serif;
}

button {
    background-color: #C06372;
    border: none;
    border-radius: 8px !important;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}

button:hover {
    background-color: #E4ADAD;
    color: black;
}

a {
    color: white;}

/* NAVIGATION section CSS */

header {
    height: 100px;
    background-color: #FFF5F4;
}

.logo {
    margin-top: 30px;
    margin-left: 40px;
}

.inline-block {
    display: inline-block;
    margin-right: 20px;
}

.inline-block-nav {
    display: inline-block;
    margin: 0px 25px;
    cursor: pointer;
}

nav {
    float: right;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    margin-top: 20px;
}

.menu:hover {
    color: #C06372;
    text-decoration: underline;
}

.nav-loginButton {
    background-color: #EFD4D3;
    border: none;
    border-radius: 8px;
    color: black;
    cursor: pointer;
}

/* Hero image section CSS */

.heroImg {
    background-image: url('../images/hero-image.png');
    background-position: center;
    background-size: cover;
    height: 180px;
    padding: 50px;
    text-align: center;
    color: white;
}

.heroButton {
    margin: 20px;
    padding: 10px 40px;
}

/* DESIGNS PEOPLE LOVE section CSS */

.designLove {
    width: 900px;
    margin: 50px auto;
    text-align: center;
}

.item1 { grid-area: design1; }
.item2 { grid-area: design2; }
.item3 { grid-area: design3; }
.item4 { grid-area: tag1; }
.item5 { grid-area: tag2; }
.item6 { grid-area: tag3; }

.workGrid {
    margin: 50px auto;
    display: grid;
    grid:
    'design1 design2 design3'
    'tag1 tag2 tag3';
    text-align: left;
}

img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.tag {
    background-color: #EFEFEF;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 11px;
}

/* DESIGNS OF THE WEEK and ARTICLES section CSS */

.gridContainer {
    display: grid;
    grid-gap: 15px; 
    width: 900px;
    margin: 50px auto;
}

.item2-1 {
    grid-column: 1;
    grid-row: 1;
}

.item2-2 {
    grid-column: 2;
    grid-row: 1;
}

.item2-3 {
    grid-column: 1;
    grid-row: 2;
    background-color: #EFD4D3;
    border-radius: 8px;
    padding: 5px 30px;
    width: 450px;
    height: 350px;
}

.item2-4 {
    grid-column: 2;
    grid-row: 2;
    font-size: 12px;
    width: 350px;
}

.inside-gridContainer1 {
    display: grid;
}

.item2-3-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2-3-2 {
    grid-column: 1;
    grid-row: 2 / span 2;
    margin: 20px 5px;
}

.item2-3-3 {
    grid-column: 2;
    grid-row: 2 / span 2;
    padding: 0px 15px;
    font-size: 13px;
}

.item2-3-4 {
    grid-column: 1 / span 3;
    grid-row: 4;
    text-align: center;
}

.inside-gridContainer2 {
    display: grid;
    grid-gap: 20px;
    height: 360px;
}

.item2-4-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #EFD4D3;
    border-radius: 8px;
    padding: 5px 20px;
}

.item2-4-2 {
    grid-column: 1 / span 2;
    grid-row: 2;
    background-color: #EFD4D3;
    border-radius: 8px;
    padding: 5px 20px;
}

.designerButton {
    font-size: 13px; 
}

u {
    cursor: pointer;
}

u:hover {
    color: #AC2427;
}

/* Footer section CSS */

footer {
    height: 180px;
    background-color: rgba(217, 182, 162, 0.5);
}

.footer {
    width: 900px;
    padding: 10px;
    font-size: 14px;
}

.footer-gridContainer {
    display: grid;
    grid-gap: 5px;
    margin: auto;
}

.item5-1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 160px;
    padding: 0px 20px;
}

.item5-2 {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 240px;
}

.item5-3 {
    grid-column: 3 / span 2;
    grid-row: 1;
}

.item5-4 {
    grid-column: 3 / span 2;
    grid-row: 2;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    height: 30px;
    border: 1px solid;
    border-color: #aaaaaa;
    font-size: 12px;
}

.signupButton {
    background-color: black;
    border: none;
    border-radius: 0px;
    color: white;
    padding: 1px 10px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    height: 30px;
}

.signupButton:hover {
    background-color: #C06372;
    color: white;
}
